<div class="container">
  <h1 class="centered"><%= @trip.name %></h1>
  <br>
  <div class="row">
    <% if current_user == @trip.user %>
      <div class="col-md-3">
        <p class="centered btn btn-default"> <%= link_to "Edit", edit_trip_path(@trip.slug)%></p>
      </div>
      <div class="col-md-3">
        <p class="centered btn btn-default"> <%= link_to "Delete", trip_path(@trip), method: :delete %></p>
      </div>
      <div class="col-md-3">
        <p class="centered btn btn-default"><%= link_to "Add photo", new_photo_path %></p>
      </div>
      <div class="col-md-3">
        <p class="centered btn btn-default"><%= link_to "Add blog", new_user_blog_path %></p>
      </div>
    <% end %>
  </div>
  <br>
  <h3 class="centered">Blogs</h3>
  <%= render partial: "partials/blog_table", locals: {blogs: @trip.blogs.order(date: :desc) } %>

  <br>
  <% @trip.photos.each do |photo| %>
    <div class="col-md-4">
      <%= render partial: "partials/photo", locals: { photo: photo } %>
    </div>
  <% end %>
  <div class="comments">
    <br>
    <%= render partial: "partials/comments", locals: {commentable: @trip} %>
    <%= render partial: "partials/comment_form", locals: {commentable: @trip} %>
  </div>
</div>
