<div class="container-fluid" id="background">
  <div class="container blog-content">
    <h1 class="blog-title"><%= @blog.title %></h1>
    <% if @blog.trip %>
      <h3 class="blog-title"><%= @blog.trip.name %></h1>
    <% end %>
    <h4><%= @blog.formatted_date %></h4>
    <p class="posted-date"><%= "Posted on #{@blog.posted_on}" %></p>
    <% if current_user && @blog.user_id == current_user.id %>
      <p class="centered"><%= link_to "Edit", edit_user_blog_path(current_user.nickname, @blog.slug) %></p>
      <p class="centered delete"><%= link_to "Delete", user_blog_path(@blog), method: :delete %></p>
    <% end %>
    <p><%= @blog.content.gsub(/\n/, '<br/>').html_safe %></p>
    <hr>
    <h3 class="centered">Photos</h3>
    <br>
    <% @blog.photos.each do |photo| %>
      <div class="col-md-4">
        <%= render partial: "partials/photo", locals: { photo: photo } %>
      </div>
    <% end %>
  </div>
</div>
